<h1>Práctica 9, Introducción al lenguaje de programación python<h1>
    <h2>1.-Variables y tipos<h2>

In [2]:
#inicializando variables 
x=10 #variable de tipo entero
print(x) #funcion para imprimir los valores de las variables 

#se puede utilizar comillas dobles para crear cadenas
cadena = "Hola Mundo"
print(cadena)

10
Hola Mundo

In [4]:
#Asigna un mismo valor a las tres variables 
x = y = z = 10
print(x, y, z)

10 10 10

In [5]:
#La función type() permite conocer el tipo de una varible
type(x)

int

In [6]:
type(cadena)

str

In [7]:
#Se puede cambiar los valores de las variables y el tipo se cambia automaticamente
x = "Hola mundo"
cadena = 10

In [8]:
type(x)

str

In [9]:
type(cadena)

int

In [10]:
#Cuando una variable tiene un valor constante, por convencion, el nombre se escribe en mayuscuas 
SEGUNDOS_POR_DIA = 60 * 60 * 24
PI = 3.14

<h2>2.-Cadenas<h2>

In [3]:
#Inicializando cadenas 
cadena1 = 'Hola'
cadena2 = "Mundo"
print(cadena1)
print(cadena2)
concat_cadenas = cadena1 + cadena2 #Concatenacion de cadenas 
print(concat_cadenas)

Hola
Mundo
HolaMundo

In [13]:
#Para concatenar un número y una cadena se debe usar la función str(
num_cadena = concat_cadenas +' '+ str(3)
print(num_cadena)

HolaMundo 3

In [15]:
    #El valor de la variable se va a imprimir en el lugar donde se encuentre {} en la cadena 
    num_cadena = "{} {} {}". format(cadena1, cadena2, 3)
    print(num_cadena)

Hola Mundo 3

In [16]:
#Cuando se agrega un numero dentro de {#}, el valor la varable se encuentra en esa posicion
#dentro de la funcioin format(), será impreso.
num_cadena = "Cambiando el orden: {1} {2} {0} #".format(cadena1, cadena2, 3)
print(num_cadena)

Cambiando el orden: Mundo 3 Hola #

<h2>Operadores<h2>

In [17]:
#Para el exponente se puede utilizar el asterisco
print(1 + 5)
print(6 * 3)
print(10 - 4)
print(100 / 50)
print(10 % 2)
print(((20 * 3)+(10 +2)) / 10)
print(2**2)

6
18
6
2.0
0
7.2
4

In [18]:
False and True #Boleanos: and, not, or

False

In [19]:
#Comparación: >, <, >=, <=, ==
print(7 < 5) #falso
print(7 > 5) #verdadero
print((11 * 3) + 2 == 63 + 1 )#verdadero
print((11 * 3) + 2 >= 36)#Falso
print("Curso" != "CuRsO")#verdadero

False
True
False
False
True

<h2>Listas<h2>

In [20]:
#Declaración de na lista simple 
lista_diasDelMes = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
print(lista_diasDelMes)   #Imprimir la lista completa
print(lista_diasDelMes[0])#imprimir el elemento 1
print(lista_diasDelMes[6])#imprimir el elemento 7
print(lista_diasDelMes[11])#imprimir el elemento 12

[31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
31
31
31

In [21]:
#DEclaración de listas anidadas 
lista_numeros=[['cero', 0],['uno',1, 'UNO'], ['dos', 2], ['tres', 3], ['cuatro', 4], ['X', 5]]

print(lista_numeros)    #Imprimir lista completa

print(lista_numeros[0])  #imprime el elemento cero de la lista
print(lista_numeros[1])   #imprime el elemento 1 de la lista

print(lista_numeros[2][0])  #imprime el primer elemento de la lista en la posicion dos 
print(lista_numeros[2][1])   #imprime el segundo elemento de la lista en la poscicon dos 

print(lista_numeros[1][0])
print(lista_numeros[1][1])
print(lista_numeros[1][2])

[['cero', 0], ['uno', 1, 'UNO'], ['dos', 2], ['tres', 3], ['cuatro', 4], ['X', 5]]
['cero', 0]
['uno', 1, 'UNO']
dos
2
uno
1
UNO

In [22]:
#Se cambia el valor de uno de los elementos de la lista 

lista_numeros[5][0] = "cinco"
print(lista_numeros[5])

['cinco', 5]

<h2>Tuplas<h2>

In [23]:
#Declaración de una tupla
tupla_diasDelMes = (31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31)
print(tupla_diasDelMes)  #imprimir la tupla completa
print(tupla_diasDelMes[0]) #imprimir el elemento 1
print(tupla_diasDelMes[3]) #imprimir el elemento 4
print(tupla_diasDelMes[1]) #imprimir el elemento 2

(31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31)
31
30
28

In [24]:
#Declaracion de tuplas anidadas
tupla_numeros=(('cero', 0),('uno',1, 'UNO'), ('dos', 2), ('tres', 3), ('cuatro', 4), ('X', 5))
print(tupla_numeros) #imprimir tupla completa 

print(tupla_numeros[0]) #imprime el elemento 0 de la tupla
print(tupla_numeros[1]) #imprime el elemento 1 de la tupla

print(tupla_numeros[2][0]) #imprime el primer elemento de la tupla en la posicion dos
print(tupla_numeros[2][1]) #imprime el segundo elemento de la tupla en la posicion dos

print(tupla_numeros[1][0])
print(tupla_numeros[1][1])
print(tupla_numeros[1][2])

(('cero', 0), ('uno', 1, 'UNO'), ('dos', 2), ('tres', 3), ('cuatro', 4), ('X', 5))
('cero', 0)
('uno', 1, 'UNO')
dos
2
uno
1
UNO

In [25]:
# Probando la mutabilidad de las listas vs la no mutabilidad de las tuplas
print("valor actual {}".format(lista_diaDelMes[0]))
lista_diaDelMes[0]=50
print("valor cambiado {}".format(lista_diaDelMes[0]))
tupla_diaDelMes[0]050 #Esta asignacion manda un error, ya que no se puede cambiar los valores

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (904370790.py, line 5)

<h2>Tupla con nombre<h2>

In [28]:
#Se deb importar la libreria para hacer uso de namedtuple
from collections import namedtuple

#se crea la tupla con nombre
#El primer argumento es el nombre de la tupla, mientras que el segundo argumento son los campos 
#p es la referencia de la tupla

planeta = namedtuple('planeta', ['nombre', 'numero'])

#se crea el planeta 1 y se agregan a la tupla los valores correspondientes a los campos
planeta1 = planeta('mercurio', 1)
print(planeta1)

#se crea planeta 2
planeta2 =planeta('venus', 2)

#se imprimen los valores de los campos
#usando la referencia se llama a cada uno de sus campos 
print(planeta1.nombre, planeta1.numero)
#se obtienen los valores por elorden de los campos
print(planeta2[0], planeta[1])

print('campos de la tupla: {}'.format(planeta1._fields))

planeta(nombre='mercurio', numero=1)
mercurio 1
venus __main__.planeta[1]
campos de la tupla: ('nombre', 'numero')

<h2>Diccionarios<h2>

In [29]:
#Creando el diccionario
elementos = {'hidrogeno':1, 'helio': 2, 'carbon': 6}

#El momento de la impresion pueden aparecer en diferente orden del introducido
print(elementos)
print(elementos['hidrogeno'])

{'hidrogeno': 1, 'helio': 2, 'carbon': 6}
1

In [30]:
#se pueden agregar elementos al diccionario
elementos['litio']=3
elementos['nitrogeno']=8

print(elementos)

{'hidrogeno': 1, 'helio': 2, 'carbon': 6, 'litio': 3, 'nitrogeno': 8}

In [32]:
#creando un nuevo diccionario
elementos2 = {}
elementos2['H']={'name':'Hydrogen', 'number':1, 'weight': 1.00794}
elementos2['He']={'name': 'Helium', 'number':2, 'weight':4.002602}

print(elementos2)

{'H': {'name': 'Hydrogen', 'number': 1, 'weight': 1.00794}, 'He': {'name': 'Helium', 'number': 2, 'weight': 4.002602}}

In [33]:
#imprimiendo los datos de un elemento del diccionario
print(elementos2['H'])
print(elementos2['H']['name'])
print(elementos2['H']['number'])
elementos2['H']['weight']=4.30 #Cambiando el valor de un elemento
print(elementos2['H']['weight'])

{'name': 'Hydrogen', 'number': 1, 'weight': 1.00794}
Hydrogen
1
4.3

In [34]:
#Agregando elementos a una llave 
elementos2['H'].update({'gas noble':True})
print(elementos2['H'])

{'name': 'Hydrogen', 'number': 1, 'weight': 4.3, 'gas noble': True}

In [35]:
#muestra todos los elementos del diccionario
print(elementos2.items())

#muestra todas las llaves del diccionario
print(elementos2.keys())

dict_items([('H', {'name': 'Hydrogen', 'number': 1, 'weight': 4.3, 'gas noble': True}), ('He', {'name': 'Helium', 'number': 2, 'weight': 4.002602})])
dict_keys(['H', 'He'])

<h2>Funciones<h2>

In [38]:
#Las funciones pueden recibir n numeros de parametros, no se nesecita indicar el tipo
def imprime_nombre(nombre):
    print("Hola "+nombre)#Las cadenas se pueden concatenar con el +

In [39]:
#llamada a la función
imprime_nombre("JJ")

Hola JJ

In [40]:
#Definiendo una funcion que regresa el cuadrado de un numero
def cuadrado(x):
    return x**2

In [41]:
x=5
#La función format() sirve para convertir los parametros que recibe, en cadenas; estos valores:
#por las llaves cadena.
print("El cuadrado de {} es {}".format(x, cuadrado(x))) #La funcion cuadrado( regres un valor)

El cuadrado de 5 es 25

In [42]:
#DEfiniendo una función que regrese más de una función
def varios(x):
    return x**2, x**3, x**4

In [44]:
#Los valores que regresa la funcion pueden ser guardados en variables separadas por ,
val1, val2, val3 = varios(2)
print("{} {} {}".format(val1, val2, val3))

4 8 16

In [45]:
#Funcion con un parametro con un vlor por defecto
def cuadrado_default(x=3):
    return x**2

In [46]:
#Como la funcion tiene un valor por default, si se manda llamar la funcion sin especificar el 
#tiene por defecto
cuadrado_default()

9

In [47]:
#Cuando una funcion regresa más de un valor, se puede usar el operando _, para no guradar el valor no deseado
val4, _, val5=varios(2)
print("{} {}".format(val4, val5))

4 16

<h2>Variables globales<h2>

In [48]:
#Se crea ua variable en el espacio global de nombres 
vg = 'Global'

In [49]:
#Se crea una función que imprime la variable global
def funcion_v1():
    print(vg)

In [50]:
#Llamada a la funcion de que imprime la variable global 
funcion_v1()
#imprime la varible global 
print(vg)

Global
Global

In [51]:
#Se crea una variable local que tiene el mismo nombre que la variable global
def funcion_v2():
    vg = "Local"
    print(vg)

In [52]:
#Llama a la funcion
funcion_v2()

#imprime la variable global 
print(vg)

Local
Global

In [53]:
#Se trata de imprimir el valor de la variable global, a diferencia de la funcion_v1(),
#se creó un espacio local de la funcion_v3() una variable con el mismo nombre 
#por lo qye se reemplaza la varible local
def funcion_v3():
    print(vg)
    vg="Local"
    print(vg)

In [54]:
#Como se tiene una variable local y no se le ha asignado un valor, se genera un error
funcion_v3()

UnboundLocalError: cannot access local variable 'vg' where it is not associated with a value

In [55]:
#Par resolver el problema anterior y especificar que se quiere hacer uso de la 
#varibale global dentro de la funcion_v4, se tiene que agregar la 
#palabra reservada global
def funcion_v4():
    global vg
    print(vg)
    vg="Local"
    print(vg)

In [58]:
#Al momento de ejecutar ka funcion se imprime el valor que se tenia asignado vg
#antes de ser modificado por la funcion. Después de asignar el vlor, éste es impreso
funcion_v4()

#se imprime la varibale global con su valor modificado 
print(vg)

Local
Local
Local

<h2>Estructuras de control selecticas<h2>

<h3>if<h3>

In [59]:
#Sirve para ejecutar código dependiendo del resulatdo de una condicion

def obtenerMayor(param1, param2):
    if param1<param2:
        print("{} es mayor que {}".format(param2, param1))

In [60]:
obtenerMayor(5, 7)

7 es mayor que 5

In [61]:
#Se puede encadenar mas de una condicion sin tener que agregar un operador boleano
x = y = z = 3
if x == y == z:
    print(True)

True

<h3> if-else <h3>

In [64]:
#Se usan para dar una opcion en el caso de que la condicion  no se cumpla
def obtenerMayor2(param1, param2):
    if param1<param2:
        return param2
    else:
        return param1

In [65]:
print("El mayor es {}".format(obtenerMayor2(11, 6)))

El mayor es 11

<h3> if-elif-else <h3>

In [66]:
def numeros(num):
    if num==1:
        print("El número es 1")
    elif num ==2:
        print("El número es 2")
    elif num ==3:
        print("El número es 3")
    elif num ==4:
        print("El número es 4")
    else:
        print("No hay opcion")

In [67]:
numeros(2)

El número es 2

In [68]:
numeros(5)

No hay opcion

In [70]:
#En algunos casos se puede evitar la repiticion de if-elif-else
#La      tiene las opciones validas
def numeros_idiom(num):
    if num in (1, 2, 3, 4):
        print("Tu número es {}".format(num))
    else:
        print("{} no es una opcion".format(num))

In [71]:
numeros_idiom(2)

Tu número es 2

In [72]:
numeros_idiom(5)

5 no es una opcion

In [73]:
#Estructura de control selectiva anidada
def obtenerMasGrande(a, b, c):
    if a>b:
        if a>c:
            return a
        else:
            return c
    else:
        if b>c:
            return b
        else:
            return c

In [74]:
print("El valor mas grande es {}".format(obtenerMasGrande(7, 11, 3)))

El valor mas grande es 11

<h2>Estructuras de control repetitivas<h2>

<h3> Ciclo while <h3>

In [2]:
#Ejemplo 1
def cuenta(limite):
    i=limite
    while True:
        print(i)
        i=i-1
        if i == 0:
            break #rompiendo el ciclo

In [3]:
cuenta(10)

10
9
8
7
6
5
4
3
2
1

In [4]:
#Ejemplo 2
def factorial(n):
    i=1
    tmp=1
    while 1<n*i:
        tmp=tmp*i
        i=i+1
    return tmp

In [ ]:
print(factorial(4))

<h2>Ciclo for<h2>